Checks: >
    bugprone-*,
    modernize-*,
    performance-*,
    readability-*,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-magic-numbers,
    -bugprone-easily-swappable-parameters
CheckOptions:
    - key: readability-identifier-naming.FunctionCase
      value: CamelCase
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.StructCase
      value: CamelCase
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.MemberCase
      value: lower_case
UseColor: true
